-# - @products.each do |product|
-#   .test= product.title
-#   .category= product.category.name
-#   - product.pictures.each do |picture|
-#     .img= image_tag picture.asset
-#   %hr
= render partial: 'carts/cart_item'
%section#tshirt
  #carousel-example-generic.carousel.slide{"data-interval" => "false", "data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    .carousel-inner{:role => "listbox"}
      .item.active
        .tshirtDetail
          .row
            .col-lg-12
              .framediv.framediv-SweatShirt
                =image_tag '004d8c.gif', class: "frame frame-SweatShirt #{Product.first.id}", data: {color: "004d8c", gen: "#{Product.first.id}"}
              =image_tag 'sweatshirt_white_lay.png', class: "background-tshirt #{Product.first.id}"
              .tshirtPrice.text-center
                %span.normal_price_area{class: "#{Product.first.id}"}
                  %span.currency
                    $
                  %span.normal_price{class: "#{Product.first.id}"}
                    1080
                %span.gen_price_area{class: "#{Product.first.id}"}
                  %span.currency
                    $
                  %span.gen_price{class: "#{Product.first.id}"}
                    1080
          .row.row-centered
            .col-md-4.col-centered
              .btn-group.btn-group-justified{:role => "group"}
                .btn-group{:role => "group"}
                  .dropup
                    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                      顏色 / color
                      %span.caret
                    %ul#color-tshirt.dropdown-menu.color-tshirt{"aria-labelledby" => "dropdownMenu1"}
                      %li{"data-color" => "004d8c", "data-gen" => "#{Product.first.id}", "data-image" => "/assets/img/sweatshirt_white_lay.png"}
                        %a 海潛藍 / snorkel blue
                      %li{"data-color" => "f7cac9", "data-gen" => "#{Product.first.id}", "data-image" => "/assets/img/sweatshirt_white_lay.png"}
                        %a 石英粉 / rose quartz
                      %li{"data-color" => "f7786b", "data-gen" => "#{Product.first.id}", "data-image" => "/assets/img/sweatshirt_white_lay.png"}
                        %a 橘桃粉 / peach echo
                      %li{"data-color" => "fbe337", "data-gen" => "#{Product.first.id}", "data-image" => "/assets/img/sweatshirt_white_lay.png"}
                        %a 毛茛黃 / buttercup
                .btn-group{:role => "group"}
                  %button#btn_generate.btn.btn-default{:autocomplete => "off", "data-gen" => "#{Product.first.id}", "data-loading-text" => "製造中...", "data-pause-text" => "重新製造", :type => "button"}
                    製造 / make
                .btn-group{:role => "group"}
                  %button.btn.btn-default.addCar{class: "#{Product.first.id}", "data-category" => "Category_SweatShirt", "data-coloractive" => "0", "data-colors" => "[{\"Name\":\"海潛藍 \\/ snorkel blue\",\"Value\":\"004d8c\"},{\"Name\":\"石英粉 \\/ rose quartz\",\"Value\":\"f7cac9\"},{\"Name\":\"橘桃粉 \\/ peach echo\",\"Value\":\"f7786b\"},{\"Name\":\"毛茛黃 \\/ buttercup\",\"Value\":\"fbe337\"}]", "data-gen" => "#{Product.first.id}", "data-sizeactive" => "2", "data-sizes" => "[\"XS\",\"S\",\"M\",\"L\",\"XL\"]", :type => "button"}
                    購買 / buy
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
      = image_tag 'left.png', class: 'glyphicon glyphicon-chevron-left'
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
      = image_tag 'right.png', class: 'glyphicon glyphicon-chevron-right'

%section#selected
  .container
    .row
      .col-lg-12.text-center
        %h2 精選款
        %hr.star-primary
    .row
      .col-lg-12
        %ul.nav.nav-tabs{:role => "tablist"}
          - @categories.each_with_index do |category, index|
            %li{:role => "presentation", class: "#{'active' if index == 0}"}
              %a{"data-toggle" => "tab", :href => "##{category.id}", :role => "tab"}
                = category.name
      .row
        .col-lg-12
          .tab-content
            - @categories.each_with_index do |category, index|
              .tab-pane{:id => "#{category.id}", :role => "tabpanel", class: "#{'active' if index == 0}"}
                = render 'products/standard_template', category: category

%section#ordertable
  .container
    %hr.featurette-divider/
    = form_tag new_order_path, method: :GET, name: "basket_form", id: :shoppingCart do
      .panel.panel-default.table-responsive.basket_list
        .panel-heading
          訂單明細
        %table.renmade-table
          %thead
            %th.col-md-1.no #
            %th.col-md-2.image 圖案
            %th.col-md-2.title{:style => "display: none;"} T
            %th.col-md-1.color 顏色
            %th.col-md-1.size 尺寸
            %th.col-md-1.quantity 數量
            %th.col-md-1.price 價格
            %th.col-md-1.subtotal 小計
            %th.col-md-1.actions
        .renmade-order
        %table.renmade-table
          %tr.renmade-tr-row-top
            %td.col-md-1.no 總計
            %td.col-md-2.image
            %td.col-md-2.title{:style => "display: none;"}
            %td.col-md-1.color
            %td.col-md-1.size
            %td.col-md-1.quantity
              %span 總共件數:
              %span.number_of_tshirt 0
            %td.col-md-1.price
            %td.col-md-1.subtotal
              %span 總價
              %span.total_of_price 0
            %td.col-md-1.actions{"data-th" => ""}
              .renmade-Btn.submitOrder 送出訂單

/ Modal
#LastOrderItemRemove.modal.fade.LastOrderItemRemove{"aria-labelledby" => "myModalLabel", "data-randnum" => "", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title 注意
      .modal-body
        是否要移除此商品？(移除後很難很難很難再轉到一樣的!)
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消
        %button#LastOrderItemRemoveBtn.btn.btn-danger{:type => "button"} 刪除

#AddCarSuccess.alert.alert-success.fade.in.collapse{"aria-label" => "Close", :style => "position: fixed; right: 50px; top: 100px; display: none;z-index: 10000;"}
  %strong 成功!
  已經加入購物車.
